  <!doctype html>
<html>
<head>
    <title>하즐 - 하루의 즐거움</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
  
  body {
    background-color: #333333;
  }

  h2 {
  color: rgb(102, 189, 221);
}
.user_name{
    font-size:30px;
    font-weight: bold;
    color: rgb(102, 189, 221);
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.media-left{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 110px;
    margin-top: 20px;  
}

    </style>
</head>

<body>

 

 <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">
      
    <div class="page-header">
      <h2><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;<%= postModel.title %></h2>
    </div>
    <div class ="thumbnail">
    </br>
    <% for( var i = 0; i < postModel.image_url.length; i++ ) { %> 
         <img src = "<%= postModel.image_url[i] %>" alt = "이미지 로딩중.." class="img-responsive">     
         </br></br>   
         <% }%> 
    </div>
    </div></div>


 <div class="container">
<div class="row">
<div class="col-sm-12">
<div class="comments-list">
<h2 class="media-heading user_name" >댓글</h2> 
 <% for( var i = 0; i < postModel.userComments.length; i++ ) { %>
 
            <p><font size ="5" color = "#FFFFFF"><%= postModel.userComments[i].userPost %></font></p>

<% }%>

     <% for( var i = 0; i < postModel.comments.length; i++ ) { %>
    
                       <div class="media">
                            
                           
 <div class="media-body">
                                
                           <p>   <font size ="5" color="#FFFFFF"><%= postModel.comments[i].content %></p>
                              </font>
                            </div>
                        </div>
                       
       
            <% }%>
            
</div>
</div>
</div>               
</div>
</br>


    <div class="container">
 
  <form role="form" method="post" action="/<%= postModel.id %>"> <!--This was the main issue!! get the id of the postmodel and pass it when I post something-->
    <div class="form-group">
      <textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="3" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-default">댓글 달기</button>
  </form>
</div>


    
                               
                               
                    
       
</body>

</html>