  <!doctype html>
<html>
<head>
    <title>공기대 어그로</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
  
.user_name{
    font-size:30px;
    font-weight: bold;
    color: rgb(102, 189, 221);
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.media-left{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-top: 20px;  
}

    </style>
</head>

<body>

 

 <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">
      
    <div class="page-header">
      <h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;<%= postModel.title %></h3>
    </div>
    <div class ="thumbnail">
    <% for( var i = 0; i < postModel.image_url.length; i++ ) { %> 
         <img src = "<%= postModel.image_url[i] %>" alt = "이미지 로딩중.." class="img-responsive">     
         </br></br>   
         <% }%> 
    </div>
    </div></div>


 <div class="container">
<div class="row">
<div class="col-sm-12">
<div class="comments-list">
<h2 class="media-heading user_name" >댓글</h2>
</br> 

 
  <form role="form" method="post" action="/<%= postModel.id %>"> <!--This was the main issue!! get the id of the postmodel and pass it when I post something-->
    <div class="form-group">
      <textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="3" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-default">댓글 달기</button>
  </form>

 <% for( var i = 0; i < postModel.userComments.length; i++ ) { %>
            <p><font size ="5"><%= postModel.userComments[i].userPost %></font></p>
<% }%>

 		 <% for( var i = 0; i < postModel.comments.length; i++ ) { %>
 		
                       <div class="media">
                            
                            <div class="media-body">
                                
                              <font size ="5"><%= postModel.comments[i].content %>
                              </font>
                            </div>
                        </div>
                       
       
            <% }%>
</div></div></div>
                 
 </div>

 
</body>

</html>